.summary-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url('/assets/1x/screen-fight.png');
  background-size: cover;
}

button {
  margin-top: 30px;
}