

.tut-container {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgb(155, 132, 89);
}

.tut-section {
  margin-bottom: 50px;

  h2 {
    color: darkred;
  }

  p {
    line-height: 1.44;
  }

  img {
    max-width: 100%;
    margin-top: 20px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.img-small {
  width: 200px;
}